.services-popup
	.services-popup__container
		.services__title Комплекти сонячних електростанцій
		.services__list
			.services__list-item
				.title
					span
						span Дохід
				.description
					ul.description__list
						li
							span Продаж електроенергії за «зеленим» тарифом
						li
							span Окупність від 5 років
						li
							span Можливість поетапного збільшення потужності
				.price
					|від
					span $891
					|/кВт
				.button
					a(href="income.html").btn Детальніше
			.services__list-item
				.title
					span
						span Резерв
				.description
					ul.description__list
						li
							span Резервне електроживлення будинку
						li
							span Економія на власному споживанні
						li
							span Продаж електроенергії за «зеленим» тарифом
				.price
					|від
					span $1 244
					|/кВт
				.button
					a(href="reserve.html").btn Детальніше
			.services__list-item
				.title
					span
						span Комфорт
				.description
					ul.description__list
						li
							span Електроживлення будинку 24/7
						li
							span Додаткова потужність електроживлення
						li
							span Продаж електроенергії за «зеленим» тарифом
				.price
					|від
					span $1899
					|/кВт
				.button
					a(href="comfort.html").btn Детальніше
