doctype
html(lang='uk')
	include head.pug
	body(style="opacity:0;")
		block header
		block content
		block footer
		include ../section/popup/services.pug
		include ../section/popup/request.pug
		include script.pug
