link(rel="stylesheet", href="style/lib/normalize.css")
link(rel="stylesheet", href="style/lib/slick-theme.css")
link(rel="stylesheet", href="style/lib/slick.css")
link(rel="stylesheet", href="style/lib/fullpage.min.css")
link(rel="stylesheet", href="style/lib/animate.min.css")
link(rel="stylesheet", href="style/main.min.css")
script(src="js/lib/jquery.min.js")
script(src="js/lib/jquery.maskedinput.js")
script(src="js/lib/slick.min.js")
script(src="js/lib/fullpage.min.js")
script(src="js/lib/snap.svg-min.js")
script(src="js/app.min.js")
script(src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyB35Exje6kOhzSsEsUTg3V09ot0HILL-Qk&callback=initMap")
