main.page-container.green-fullpage
	section.section.why
		include ../section/green/why.pug
	section.section.legislation
		include ../section/green/legislation.pug
	section.section.greenwork
		include ../section/green/work.pug
	section.section.complex
		include ../section/index/complex.pug
	section.section.connect
		include ../section/index/connect.pug
	section.section.contact
		include ../section/footer.pug
