main.page-container.main-fullpage
	section.section.electrostation
		include ../section/index/electrostation.pug
	section.section.info
		include ../section/index/info.pug
	section.section.type
		include ../section/index/type.pug
	section.section.work
		include ../section/index/work.pug
	section.section.rate
		include ../section/index/rate.pug
	section.section.complex
		include ../section/index/complex.pug
	section.section.example
		include ../section/index/example.pug
	section.section.review
		include ../section/index/review.pug
	section.section.connect
		include ../section/index/connect.pug
	section.section.contact
		include ../section/footer.pug
include ../section/popup.pug
