.popup
	.popup__container
		.popup-close
			img(src="img/icon/Close.svg", alt="")
		.popup-example
			-for (var x = 1; x <= 3; x++)
				.popup-example-item(style="background-image: url('../img/example/"+x+".jpg');")
			-for (var x = 1; x <= 3; x++)
				.popup-example-item(style="background-image: url('../img/example/1.jpg');")
