.complex__content
	.complex__content-title
		h2 Комплекти Сонячних електростанцій
	.complex__content-list
		.complex__content-list__item
			.title
				a(href="#")
					span Дохід
			.description
				ul.description__list
					li
						span Продаж електроенергії за «зеленим» тарифом
					li
						span Окупність від 5 років
					li
						span Можливість поетапного збільшення потужності
			.price
				|від
				|
				span $891
				|
				|/
				|
				|кВт
			.button
				a(href="#").btn Детальніше
		.complex__content-list__item
			.title
				a(href="#")
					span Резерв
			.description
				ul.description__list
					li
						span Резервне електроживлення будинку
					li
						span Економія на власному споживанні
					li
						span Продаж електроенергії за «зеленим» тарифом
			.price
				|від
				|
				span $1 244
				|
				|/
				|
				|кВт
			.button
				a(href="#").btn Детальніше
		.complex__content-list__item
			.title
				a(href="#")
					span Комфорт
			.description
				ul.description__list
					li
						span Електроживлення будинку 24/7
					li
						span Додаткова потужність електроживлення
					li
						span Продаж електроенергії за «зеленим» тарифом
			.price
				|від
				|
				span $1 899
				|
				|/
				|
				|кВт
			.button
				a(href="#").btn Детальніше
