.electrostation__info
	.electrostation__title
		h1 Сонячні електростанції<br/>для вашого будинку
	.electrostation__description Ми забезпечуємо власників будинків альтернативною<br/>енергією. Наш індивідуальний підхід, новітнє обладнання та<br/> професіоналізм дозволяють зробити це просто та вигідно.
	.electrostation__button
		a(href="#info").btn Дізнатися більше
.electrostation__contact
	.address
		span м. Київ, вул. Машинобудівна, 41
	.phone
		a(href="tel:380443345010" target="_blank") +38 044 334 50 10
	.email
		a(href="mailto:hello@sunsayenergy.com" target="_blank") hello@sunsayenergy.com
.electrostation__switch
	a(href="#").active UA
	a(href="#") EN
	a(href="#") RU
.electrostation__house
	svg(id="electroBack" width="949" height="100%")
		path(id="electroFrom" fill="#ffd100" fill-rule="evenodd" d="M1718.4,0l-948,0")
	img.electrostation__house-img(src="img/header_house.png", alt="")
