.example__content
	.example__content-title
		h2 Приклади сонячних електростанцій
	.example__content-list.example-carousel
		-for (var x = 1; x <= 3; x++)
			.example__content-list__item(style="background-image: url('../img/example/"+x+".jpg');")
		-for (var x = 1; x <= 3; x++)
			.example__content-list__item(style="background-image: url('../img/example/1.jpg');")
