.info__list
	.info__list-item
		h2.title
			span
				span Незалежність
		.description Сонячні електростанції дозволяють<br/>не зважати на вимкнення світла<br/>та перебої напруги в мережі.
		.image
			img(src="img/info/1.png", alt="Незалежність")
	.info__list-item
		h2.title
			span
				span Заробіток
		.description Власна електростанція здатна<br/>виробляти енергію для продажу за «зеленим» тарифом.
		.image
			img(src="img/info/2.png", alt="Заробіток")
	.info__list-item
		h2.title
			span
				span Іноваційність
		.description Сонячна енергетика дозволяє зробити<br/>крок в майбутнє і більше не миритися<br/>з неефективністю застарілих технологій
		.image
			img(src="img/info/3.png", alt="Іноваційність")
