.rate__content
	.rate__content-image
		img(src="img/taruf.png", alt="")
	.rate__content-info
		h2.title «Зелений» тариф
		.description Це програма, ініційована урядом України, яка<br/>дозволяє  приватним та юридичним особам<br/>продавати електроенергію, отриману з<br/>альтернативних джерел.
		.button
			a(href="#").btn Дізнатися більше
