.review__content
	.review__content-title
		h2 Відгуки
		span.mobile-count 134 відгуки
	.review__content-list
		.review-item
			.review__content-list__item
				.review__content-list__item-image
					.review-image
						img(src="img/review.png", alt="")
						.review-photo
							img(src="img/review-photo.png", alt="")
				.review__content-list__item-info
					.review-count 134 відгуки
					.review-name Ярослав Єрошенко
					.review-role Замовив пакет «Комфорт»
					.review-message Команда SUNSAY задовільнила саме мої потреби. Мені запропонували індивідуальну схему підключення СЕС. Саме тому я зрозумів, що вони – експерти та майстри своєї справи.
		.review-item
			.review__content-list__item
				.review__content-list__item-image
					.review-image
						img(src="img/review.png", alt="")
						.review-photo
							img(src="img/review-photo.png", alt="")
				.review__content-list__item-info
					.review-count 134 відгуки
					.review-name Ярослав Єрошенко2
					.review-role Замовив пакет «Комфорт»
					.review-message Команда SUNSAY задовільнила саме мої потреби. Мені запропонували індивідуальну схему підключення СЕС. Саме тому я зрозумів, що вони – експерти та майстри своєї справи.
