.type__content
	.type__content-title
		h2 Види Сонячних електростанцій
	.type__content-list
		.type__content-list__item(data-type="network")
			.type-item__background
				svg(id="networkBack", width='437.3', height='415.3')
					path(id="networkPath" fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M110.2,201c6.8-21,31.7-40.9,103-48c63.9-6.3,113.7,20,116,59c1.5,25.3-30.2,48.9-92,51 C157,265.7,95.4,246.6,110.2,201L110.2,201")
			.type-item__content
				.type-item__content-title
					span
						span Мережеві
				.type-item__content-text Забезпечують будинок накопиченою в акумуляторах енергією без підключення до загальної електромережі.
				.type-item__content-button
					a.btn(href="#") Дізнатися більше
		.type__content-list__item(data-type="standalone")
			.type-item__background
				svg(id="standaloneBack", width='524.1', height='408')
					path(id="standalonePath" fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M151.1,197c0,0,2.4-52.5,107.5-49.4c50,1.5,125.5,29.3,113.8,63.6s-53.3,49.6-106.2,49.3 C213.3,260.2,143.9,245.1,151.1,197z")
			.type-item__content
				.type-item__content-title
					span
						span Автономні
				.type-item__content-text Забезпечують будинок накопиченою в акумуляторах енергією без підключення до загальної електромережі.
				.type-item__content-button
					a.btn(href="#") Дізнатися більше
		.type__content-list__item(data-type="hybrid")
			.type-item__background
				svg(id="hybridBack", width='440', height='415.1')
					path(id="hybridPath" fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M329.1,208.1c0.5,29-31.5,56.2-105,55c-73.5-1.2-140.4-29.2-107-78 c23.9-34.9,78.4-35.4,122-31C275.9,157.9,328.5,171.5,329.1,208.1z")
			.type-item__content
				.type-item__content-title
					span
						span Гібридні
				.type-item__content-text Забезпечують будинок накопиченою в акумуляторах енергією без підключення до загальної електромережі.
				.type-item__content-button
					a.btn(href="#") Дізнатися більше
