.work__content
	.work__content-list
		.work__content-list__item(data-id="1").active
			span
				span 1 Знайомство
		.work__content-list__item(data-id="2")
			span
				span 2 Розрахунки
		.work__content-list__item(data-id="3")
			span
				span 3 Узгодження
		.work__content-list__item(data-id="4")
			span
				span 4 Інсталювання
		.work__content-list__item(data-id="5")
			span
				span 5 Лічильник
		.work__content-list__item(data-id="6")
			span
				span 6 Підключення
		.work__content-list__item(data-id="7")
			span
				span 7 «Зелений» тариф
	.work__content-info
		.work__content-info__item(data-id="1").active
			.work__content-info__item-info
				.message Ми вивчаємо ваші потреби, робимо заміри, досліджуємо конструкцію вашого будинку та будуємо 3D-модель даху за допомогою дрона.
				.days 5 днів
				.button
					a(href="#").btn Замовити заміри
			.work__content-info__item-image
				img(src="img/work/1.png", alt="")
		.work__content-info__item(data-id="2")
			.work__content-info__item-info
				.message Ми вивчаємо ваші потреби, робимо заміри, досліджуємо конструкцію вашого будинку та будуємо 3D-модель даху за допомогою дрона.
				.days 6 днів
				.button
					a(href="#").btn Замовити заміри
			.work__content-info__item-image
				img(src="img/work/1.png", alt="")
		.work__content-info__item(data-id="3")
			.work__content-info__item-info
				.message Ми вивчаємо ваші потреби, робимо заміри, досліджуємо конструкцію вашого будинку та будуємо 3D-модель даху за допомогою дрона.
				.days 7 днів
				.button
					a(href="#").btn Замовити заміри
			.work__content-info__item-image
				img(src="img/work/1.png", alt="")
		.work__content-info__item(data-id="4")
			.work__content-info__item-info
				.message Ми вивчаємо ваші потреби, робимо заміри, досліджуємо конструкцію вашого будинку та будуємо 3D-модель даху за допомогою дрона.
				.days 8 днів
				.button
					a(href="#").btn Замовити заміри
			.work__content-info__item-image
				img(src="img/work/1.png", alt="")
		.work__content-info__item(data-id="5")
			.work__content-info__item-info
				.message Ми вивчаємо ваші потреби, робимо заміри, досліджуємо конструкцію вашого будинку та будуємо 3D-модель даху за допомогою дрона.
				.days 9 днів
				.button
					a(href="#").btn Замовити заміри
			.work__content-info__item-image
				img(src="img/work/1.png", alt="")
		.work__content-info__item(data-id="6")
			.work__content-info__item-info
				.message Ми вивчаємо ваші потреби, робимо заміри, досліджуємо конструкцію вашого будинку та будуємо 3D-модель даху за допомогою дрона.
				.days 10 днів
				.button
					a(href="#").btn Замовити заміри
			.work__content-info__item-image
				img(src="img/work/1.png", alt="")
		.work__content-info__item(data-id="7")
			.work__content-info__item-info
				.message Ми вивчаємо ваші потреби, робимо заміри, досліджуємо конструкцію вашого будинку та будуємо 3D-модель даху за допомогою дрона.
				.days 6 днів
				.button
					a(href="#").btn Замовити заміри
			.work__content-info__item-image
				img(src="img/work/1.png", alt="")
