@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../fonts/Bebas/BebasNeueCyrillic.eot');
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/Bebas/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bebas/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/Bebas/BebasNeueCyrillic.woff') format('woff'),
        url('../fonts/Bebas/BebasNeueCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
