.legislation__content
	.legislation__content-image
		img.image-pc(src="img/green/2.png", alt="")
		img.image-mobile(src="img/green/m_2.png", alt="")
	.legislation__content-info
		.legislation__content-info__title
			h2.title Законодавство
		.legislation__content-info__description Оформлення зеленого тарифу детально регулюється Законом України “Про електроенергетику”. Якщо коротко: в приватних домогосподарствах тариф може бути оформлений для сонячних електростанцій потужністю до 30 кВт, а виплати нараховуються за фіксованою сіткою.
		.legislation__content-info__more
			a(href="#").btn Законопроект (pdf)
			a(href="#").btn Тарифи (pdf)
