.greenwhy__content
	.greenwhy__content-info
		.greenwhy__content-info__title
			h2.title «Зелений» тариф
		.greenwhy__content-info__description Це ключовий аспект доходу від сонячної електростанції. Програма “зеленого” тарифу дозволяє приватним особам продавати в мережу електроенергію з альтернативних джерел з прив’язкою до євро.
		.greenwhy__content-info__more
			a(href="#").btn Детальніше
	.greenwhy__content-image
		img.image-pc(src="img/green/1.png", alt="")
		img.image-mobile(src="img/green/m_1.png", alt="")
